<div class="navbar">
	<div class="navbar-inner">
		<div style="float: right;" class="brand">
			  <% if user_signed_in? %>
			    Hi, <%= current_user.email %>
			    <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
			  <% else %>
			    <a href="<%= new_user_session_path %>">Sign In</a>
			    <a href="<%= new_user_registration_path %>">Sign Up</a>
			  <% end %>
        </div>
		<ul class="nav" >
			<li class="brand">Designbrite</li>
				<li <%if params[:controller] == "main" and params[:action] == "index"%> class = "active" <% end %> > <a href="<%= root_path %>">HOME</a>
				</li>
				
				<li <%if params[:controller] == "main" and params[:action] == "how_it_works"%> class = "active" <% end %>><a href= "<%= how_it_works_path %>" > HOW IT WORKS</a>

				</li>
				

		</ul>
			
	</div>
</div>